---
import Posts from "@/components/Posts.astro";
import TableOfContents from "@/components/TableOfContents.astro";
import Tags from "@/components/Tags.astro";
import postPageConfig from "@/config/postPage.config.json";
import websiteConfig from "@/config/website.config.json";
import Common from "@/layouts/Common.astro";
import { getPosts, getRelatedPosts } from "@/lib/content";
import { cn, getReadingTime, t } from "@/utils";
import { Image } from "astro:assets";

const post = Astro.props;
const {
  body,
  data: { title, description, coverImage, tags, pubDate },
  slug,
} = post;
const articlePubDate = pubDate.toISOString();
const formattedDate = pubDate.toLocaleDateString(websiteConfig.lang, {
  day: "numeric",
  month: "short",
  year: "numeric",
});
const relatedPosts =
  tags && tags.length
    ? await getRelatedPosts(slug, tags, postPageConfig.relatedPosts)
    : null;
const { Content, headings } = await post.render();

export const getStaticPaths = async () => {
  const posts = await getPosts();

  return posts.map((post) => ({
    params: { category: post.data.category, slug: post.slug },
    props: post,
  }));
};
---

<Common {title} {description} coverImage={coverImage} {articlePubDate}>
  <article data-pagefind-body>
    <div class="mb-12">
      <div class="mb-12 flex flex-col items-center text-center">
        <div class="mb-6">
          <p class="font-bold">
            <time datetime={articlePubDate}>
              {formattedDate}
            </time>
          </p>
          <p class="text-sm">
            {getReadingTime(body)}
            {t("reading-time")}
          </p>
        </div>
        <h1 class="text-4xl font-bold lg:text-6xl">
          {title}
        </h1>
        {tags && !!tags.length && <Tags values={tags} />}
      </div>
      <Image
        class={cn(
          "mx-auto rounded-lg object-cover shadow-default",
          postPageConfig.postPageCoverImageAspectRatio,
        )}
        src={coverImage}
        alt=""
        width={postPageConfig.postPageCoverImageWidth}
        height={postPageConfig.postPageCoverImageHeight}
        format="webp"
        quality={postPageConfig.postPageCoverImageQuality}
        loading="eager"
      />
    </div>
    <div class="flex flex-col gap-8 lg:flex-row">
      <aside class="hidden w-1/6 lg:block">
        <div class="sticky top-8">
          {headings?.length > 0 && <TableOfContents {headings} />}
        </div>
      </aside>
      <div class="lg:w-4/6">
        <div
          class="prose prose-lg prose-slate max-w-none dark:prose-invert lg:prose-xl prose-img:rounded-lg"
        >
          <Content />
        </div>
      </div>
    </div>
    {
      relatedPosts && (
        <div class="mt-12 lg:mx-auto lg:w-4/6 lg:pl-8">
          <h2 class="mb-6 text-lg font-bold">{t("related-articles")}</h2>
          <Posts posts={relatedPosts} />
        </div>
      )
    }
  </article>
</Common>
