---
import { siteConfig } from "@/site-config";
import { cn, getCategoryLabel, getReadingTime, t } from "@/utils";
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";

interface Props {
  posts: CollectionEntry<"posts">[];
}

const { posts } = Astro.props;
---

<div class="grid gap-8 md:grid-cols-2 lg:grid-cols-3">
  {
    posts.map(async (post) => {
      const {
        body,
        data: { title, description, pubDate, coverImage, category },
        slug,
      } = post;
      const articlePubDate = pubDate.toISOString();
      const formattedDate = pubDate.toLocaleDateString(siteConfig.lang, {
        day: "numeric",
        month: "short",
        year: "numeric",
      });

      return (
        <article>
          <a class="block" href={`/${category}/${slug}/`}>
            <Image
              class={cn(
                "shadow-default mb-4 rounded-lg object-cover",
                siteConfig.postsGridCoverImageAspectRatio,
              )}
              src={coverImage}
              alt=""
              width={siteConfig.postsGridCoverImageWidth}
              height={siteConfig.postsGridCoverImageHeight}
              format="webp"
              quality={siteConfig.postsGridCoverImageQuality}
            />
            <div class="flex flex-col gap-1">
              <div class="flex justify-between gap-2 text-sm">
                <span>{getCategoryLabel(category)}</span>
                <time datetime={articlePubDate}>{formattedDate}</time>
              </div>
              <div class="text-2xl font-bold">{title}</div>
              <p>{description}</p>
              <p class="text-sm">
                {getReadingTime(body)}
                {t("reading-time")}
              </p>
            </div>
          </a>
        </article>
      );
    })
  }
</div>
