---
import Tags from "@/components/Tags.astro";
import Common from "@/layouts/Common.astro";
import { siteConfig } from "@/site-config";
import { cn, t } from "@/utils";
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";

const { data, readingTime } = Astro.props;
const {
  title,
  description,
  coverImage,
  tags,
  pubDate,
}: CollectionEntry<"posts">["data"] = data;
const articlePubDate = pubDate.toISOString();
const formattedDate = pubDate.toLocaleDateString(siteConfig.lang, {
  day: "numeric",
  month: "short",
  year: "numeric",
});
const isCoverImageLarge =
  coverImage.width > siteConfig.postPageCoverImageMaxWidth ||
  coverImage.height > siteConfig.postPageCoverImageMaxWidth;
---

<Common {title} {description} coverImageSrc={coverImage.src} {articlePubDate}>
  <article data-pagefind-body>
    <div class="mb-12">
      <div class="mb-12 flex flex-col items-center text-center">
        <div class="mb-6">
          <p class="font-bold">
            <time datetime={articlePubDate}>
              {formattedDate}
            </time>
          </p>
          <p class="text-sm">
            {readingTime}
            {t("reading-time")}
          </p>
        </div>
        <h1 class="mb-10 text-4xl font-bold lg:text-6xl">
          {title}
        </h1>
        {tags && <Tags {tags} />}
      </div>
      <Image
        class={cn(
          "aspect-[2/1] mx-auto rounded-lg object-cover shadow-default",
          siteConfig.postPageCoverImageAspectRatio,
        )}
        src={coverImage}
        alt=""
        width={isCoverImageLarge
          ? siteConfig.postPageCoverImageMaxWidth
          : undefined}
        height={isCoverImageLarge
          ? siteConfig.postPageCoverImageMaxHeight
          : undefined}
        quality={siteConfig.postPageCoverImageQuality}
        loading="eager"
      />
    </div>
    <div class="flex flex-col gap-8 lg:flex-row">
      <slot />
    </div>
  </article>
</Common>
